<%- include("../partials/header") %>
<div class="row">
    <h1 style="text-align: center">Add Schedule</h1>
    <div style="width: 30%; margin: 25px auto;">
        <form action="/schedules/" method="POST">
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Add New Schedule</button>
            </div>
        </form>
        <a href="/">Go Back</a>
    </div>
</div>
<%- include("../partials/footer") %>